@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}
.root {
	-webkit-font-smoothing: antialiased;
	@apply h-[37rem] w-[calc(0.5625*37rem)] text-base overflow-scroll;
}

body {
	p,
	a,
	label,
	input,
	textarea,
	button {
		@apply text-skin-primary font-semibold;
	}
}

button,
input,
textarea,
select,
textarea {
	@apply outline-none;
}

select {
	appearance: none;
}

button[disabled] {
	@apply cursor-default;
}

a {
	@apply cursor-pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* https://stackoverflow.com/a/72047637/4975090 */
div {
	-ms-overflow-style: none; /* Edge, Internet Explorer */
	scrollbar-width: none; /* Firefox */
	overflow-y: scroll;
}
div::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.green2blue{
	background: linear-gradient(210deg, #00FF95, #00BEFF 70%);
}

.blue2green{
	background: linear-gradient(30deg, #00FF95, #00BEFF 70%);
}

.green2blue > section,
.blue2green > section {
	background-image: url("../assets/curve.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.radial-green2blue {
	background: radial-gradient(circle at top, #00FF95 0%, #00BEFF 100%);
}
.radial-green2blue > div {
	background-image: url("../assets/curve-home.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}